:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
}
* {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--green);
}

.test {
  transition: color 1s, font-size 1s;
  transition-timing-function: ease-in-out;
  color: blue;
  font-size: 1.4rem;
}

.modal {
  display: none;
  position: absolute;
  width: 70%;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#modalClose {
  float: right;
}
#modalContent {
  padding: 2rem;
}
.show {
  display: block;
}
